<li class="placeholder-glow">
  <span class="placeholder col-1"></span>
</li>
<li class="placeholder-glow">
  <span class="placeholder col-1"></span>
</li>
<li class="placeholder-glow">
  <span class="placeholder col-1"></span>
</li>